html {
  font-size: 62.5%;
  text-decoration: none;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  background: white;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.header {
  background: #303030;
  color: BLACK;
  padding: 0.7rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border: none;
  border-bottom: gray 2px solid;
  margin-bottom: 0;
  position: fixed;
}

.header ul {
  display: flex;
  padding: 0.7rem 2rem;
  list-style-type: none;
}

.header a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.header a:hover {
  color: var(--primary-color);
}

.header .welcome span {
  margin-right: 0.6rem;
}

.header__subtitle {
  color: black;
  font-size: 1.6rem;
  font-weight: 500;
  flex: 1;
}

.header__search {
  margin-right: 1.6rem;
  flex: 1;
}

input {
  border: none;
  border-bottom: gray 2px solid;
}

input:focus {
  border: none;
  background: white;
  border-bottom: gray 2px solid;
  outline: none;
}

.landing {
  position: relative;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.link {
  text-decoration: none;
  color: black;
  padding: 0 1.6rem;
}

.link:hover {
  color: blue;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

@media (min-width: 45rem) {
  .header {
    margin-bottom: 1.6rem;
  }

  .header__title {
    font-size: 3.2rem;
    margin: 0;
    margin-right: 1.6rem;
    flex: 4;
  }
}

.profile-grid {
  display: grid;
  grid-template-areas:
    'top top'
    'about about'
    'exp edu'
    'github github';
  grid-gap: 1rem;
}

.round-img {
  border-radius: 50%;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
